@media (max-width: 450px) {
  .email-template {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .email-template table {
    width: 100%;
    margin-top: 10%;
  }
  .email-template h1 {
    grid-column: 1 / span 3;
    margin: 0 auto;
    margin-top: 10%;
  }

  .email-template table,
  th,
  td {
    grid-column: 1 / span 3;
    /* border: 1px solid black;
    border-collapse: collapse; */
  }
  .email-template table,
  tr th {
    grid-column: 2;
  }
  .email-template--info {
    grid-column: 2;
    grid-row: 4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 10%;
  }
  .email-template--info-name {
    color: red;
    grid-column: 2;
  }
  .email-template--info-price {
    color: blue;
    grid-column: 3;
  }
}
