html {
  position: relative;
  min-height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  margin-bottom: 140px !important; /* Height of the footer */
  padding: 0;
  overflow-x: hidden;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 140px; /* Set the fixed height of the footer here */
}

/* Override Bootstrap Styling */

.btn-primary {
  background-color: #025fce !important;
}
.btn::before {
  background-color: #f6406f !important;
}
button:focus,
button:active {
  outline: none !important;
  box-shadow: none !important;
}

/* helpers */

.hide {
  display: none;
}

.primary-font {
  font-family: "Liu Jian Mao Cao", cursive;
}

.secondary-font {
  font-family: "Baloo 2", cursive;
}

/* loader */
.circle-clipper {
  border-color: #f6406f;
}
