html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 140px !important; /* Height of the footer */
  padding: 0;
  overflow-x: hidden;
}

footer {
  position: absolute;
  bottom: 0;
  width: 76%;
  height: 140px; /* Set the fixed height of the footer here */
}

/* Override Bootstrap Styling */

.btn-primary {
  background-color: #025fce !important;
}

button:focus,
button:active {
  outline: none !important;
  box-shadow: none !important;
}

/* helpers */

.hide {
  display: none;
}
