.about-us-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5%;
  margin-top: 5%;
}
@media (max-width: 450px) {
  .about-us-grid {
    margin-top: 20%;
    margin-bottom: 20%;
  }
  .about-us-grid img {
    object-fit: contain;
    zoom: 1.7;
  }
  .mobile-grid {
    background: #f6406f;
    height: 100%;
    width: 100%;
  }
  .top {
    grid-column: 1 / span 2;
    margin: 0 auto;
    padding-bottom: 0;
  }
  .top img {
    width: 100%;
    object-fit: contain;
    border: 1px solid transparent;
    border-radius: 15%;
  }
  .bottom {
    grid-column: 1 / span 2;
    padding: 5%;
    padding-top: 15%;
    padding-bottom: 40%;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    font-size: 1.3em;
  }
  .bottom h3 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 2em;
  }
  .bottom p {
    width: 100%;
    margin-top: 10%;
    letter-spacing: 0.4px;
  }
  .bottom button {
    margin-top: 10%;
    color: #fff;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 10%;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12),
      0 3px 1px -1px rgba(0, 0, 0, 0.2) !important;
    background: #f6406f;
    color: #fff;
    margin-bottom: 5%;
  }

  .bottom button:focus {
    background: #f6406f;
    color: white;
  }
  .bottom .btn:active,
  .bottom button,
  .bottom .btn:focus,
  .bottom .btn:hover {
    background: #f6406f;
    color: #fff;
  }
  [alt="slogan"] {
    position: absolute;
    left: 0;
    margin-top: -10%;
  }
}
@media (min-width: 451px) {
  .left-side {
    grid-column: 1;
    grid-row: 1 / span 2;
    padding: 10% 14%;
    margin: 0 auto;
    background: #f6406f;
    color: white;
    font-size: 1.5em;
    font-weight: 200 !important ;
  }
  .left-side p span {
    font-weight: 200 !important ;
  }
  .left-side h3 {
    margin-bottom: 4%;
    font-size: 1.5em;
  }

  .right-side {
    grid-column: 2;
    grid-row: 1 / span 2;
    margin: 0 auto;
    background: #f6406f;
  }
  .right-side img {
    height: 725px;
  }
  .right-side p {
    letter-spacing: 2px;
  }
  .bottom button {
    margin-top: 10%;
    color: #fff;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 10%;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12),
      0 3px 1px -1px rgba(0, 0, 0, 0.2) !important;
    background: #f6406f;
    color: #fff;
    margin-bottom: 5%;
  }

  .bottom button:focus {
    background: #f6406f;
    color: white;
  }
}
