.box-option {
  text-transform: capitalize;
}
.box-option .checkbox {
  min-height: 10px;
  min-width: 10px;
  border: 1px solid #000;
  margin-left: 10%;
  margin-right: 5%;
}
.box-option .checkbox .material-icons {
  top: 6px;
  position: relative;
  color: #f6406f;
  font-weight: 600;
}

@media (max-width: 450px) {
}
@media (min-width: 451px) {
}
