@media (max-width: 450px) {
  .desktop-nav {
    display: none;
  }
  .welcome-container {
    display: none;
  }
  .desktop-nav--products-link {
    display: none;
  }
  .desktop-nav--home-link {
    display: none;
  }
}
@media (min-width: 451px) {
  .desktop-nav-hide {
    display: none;
  }
  .desktop-nav-show {
    position: fixed;
    left: 0;
    top: 4%;
    width: 15%;
  }
  .desktop-nav .btn {
    height: 50%;
    max-width: 60%;
  }
  .welcome-container {
    position: relative;
    top: -40%;
    z-index: 10;
    width: 50%;
  }
  .welcome-container #register {
    margin-top: -25%;
  }
  /* override material ui btn */
  #login {
    background-color: #663a16 !important;
    padding: 3% !important;
    color: #eee !important;
  }
  #register {
    background-color: #663a16 !important;
    padding: 3% !important;
    color: #eee !important;
  }
  .desktop-nav--home-link {
    position: absolute;
    top: -3%;
    left: 20%;
    z-index: 9;
  }
  .desktop-nav--products-link {
    position: absolute;
    top: -3%;
    left: 70%;
    z-index: 9;
  }

  .desktop-nav--hidden-nav-trigger {
    width: 100%;
    min-height: 100px;
    position: fixed;
    top: 20px;
    z-index: 8;
  }
  .dropDown {
    animation-name: dropDown;
    animation-duration: 0.5s;
    animation-iteration-count: initial;
    animation-fill-mode: forwards;
  }
  @keyframes dropDown {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
      z-index: 9;
    }
  }
}
