@media (max-width: 450px) {
  html {
    overflow-x: hidden;
  }

  .show-for-mobile .card {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-top: 20%;
    border: 40px solid #fff !important;
    overflow: hidden;
    height: 650px;
  }
  .card-img {
    grid-column: 2 / span 3;
  }
  .show-for-mobile h3 {
    text-transform: uppercase;
    font-weight: 300;
  }
  .card-body {
    grid-column: 1 / span 5;
    display: inline-block;
    margin: -5% auto;
  }
  .card-text {
    grid-column: 3;
    margin: 0 auto;
    font-size: 0.8em;
    text-align: center;
  }
  /* Nav btns */
  .round {
    border-radius: 50%;
    text-decoration: none;
    display: inline-block;
    padding: 14px 24px;
    width: 80%;
    height: 20%;
    font-size: 2.5em;
    margin: 150% auto;
  }

  .prev {
    color: black;
  }
  .next {
    color: black;
  }
  .show-for-desktop {
    display: none;
  }
}
@media (min-width: 451px) {
  .show-for-desktop {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2%;
    padding: 0 4%;
  }
  .show-for-desktop .card {
    border: none !important;
  }
  .show-for-desktop h3 {
    text-transform: uppercase;
    font-weight: 300;
    display: flex;
    justify-content: center;
  }
  .show-for-desktop .card-text {
    grid-column: 3;
    margin: 0 auto;
    font-size: 0.8em;
    text-align: center;
  }
  .show-for-desktop .card-img {
  }

  .show-for-desktop .card-body {
    /* grid-row: 2; */
  }
  .show-for-mobile {
    display: none;
  }
}
