@media (max-width: 450px) {
  .featured-slide img {
    width: 100%;
    min-height: 470px;
    object-fit: cover;
  }
  .featured-slide .text-box {
    z-index: 99;
    padding: 4%;
  }
  .featured-slide .text-box p {
    font-size: 1.2em;
  }
  .featured-products-link {
    z-index: 99;
    margin-top: 10%;
    height: 50px;
  }
  .featured-slide .btn {
    background: #f6406f;
    border: 1px solid #ef60a1;
    border-radius: 3px;
    padding: 4% 4% 8% 4%;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
  }
  .featured-slide h3 {
    font-size: 2.2em;
  }
  .featured-slider .slick-dots {
    position: relative;
    left: 35%;
    margin-top: -10%;
    padding-bottom: 10%;
  }
}
@media (min-width: 451px) {
  .featured-slide {
    min-width: 100%;
  }

  .featured-slide h3 {
    font-size: 2em;
  }
  .featured-slide img {
    min-width: 100%;
    min-height: 600px;
    object-fit: cover;
  }

  .featured-slide .text-box {
    padding: 4%;
    font-size: 1.2em;
    max-height: 300px;
  }
  .featured-slide p {
    padding: 2% 5% 2% 1%;
    font-size: 1.4em;
    margin-bottom: 40px;
  }
  .featured-slide .btn {
    background: #f6406f;
    border: 1px solid #ef60a1;
    color: #fff;
    border-radius: 3px;
    padding: 1% 1% 3% 1%;
    font-weight: 600;
    text-transform: uppercase;
    z-index: 99;
  }
  .slick-dots {
    position: relative;
    left: 30%;
    top: 87%;
  }
}

.featured-slider .slick-dots li button:before {
  font-size: 22px !important;
}
.fade-in {
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
