@media (max-width: 450px) {
  html {
    overflow-x: hidden;
  }
  .show-for-mobile {
    border: none !important;
  }
  .show-for-mobile .heading {
    grid-row: 1;
    grid-column: 1 / span 3;
    font-size: 4em;
    padding: 4% 13%;
    margin: 0 auto;
    font-family: "Liu Jian Mao Cao", cursive;
    text-transform: capitalize;
  }
  .show-for-mobile .cards {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-bottom: 10%;
    border: 40px solid #fff !important;
    overflow: hidden;
    height: 650px;
  }
  .cards .card-img {
    grid-column: 2 / span 3;
    margin-left: -33%;
    min-width: 277px;
  }
  [alt="biscotti"] {
    width: 377px !important;
    position: relative;
    left: -40%;
  }

  [alt="scones"] {
    margin-left: -4%;
    min-width: 230px;
  }
  .show-for-mobile h3 {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 3em;
  }
  .show-for-mobile .card-body {
    grid-column: 1 / span 5;
    display: inline-block;
    margin: -5% auto;
  }
  .show-for-mobile .card-text {
    grid-column: 3;
    margin: 0 auto;
    font-size: 1.1em;
    text-align: center;
    font-weight: 200;
  }
  /* Nav arrows */
  .round {
    border-radius: 50%;
    text-decoration: none;
    display: inline-block;
    padding: 14px 24px;
    width: 80%;
    height: 20%;
    font-size: 2.5em;
    margin: 150% auto;
    position: relative;
    bottom: -80%;
  }

  .prev {
    color: black;
  }
  .next {
    color: black;
  }
  .show-for-desktop {
    display: none;
  }
}
@media (min-width: 451px) {
  .show-for-desktop {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 2%;
    padding: 10% 4%;
  }
  .show-for-desktop .heading {
    grid-row: 1;
    grid-column: 1 / span 3;
    font-size: 4em;
    padding: 4% 0;
    margin: 0 auto;
    font-family: "Liu Jian Mao Cao", cursive;
    text-transform: capitalize;
  }
  .show-for-desktop .card {
    grid-row: 2;
    border: none !important;
    max-width: 350px;
    padding: 20% 0;
  }
  .show-for-desktop h3 {
    text-transform: capitalize;
    font-weight: 300;
    display: flex;
    justify-content: center;
    letter-spacing: 2px;
    font-size: 3em;
  }
  .show-for-desktop .card-text {
    grid-column: 3;
    margin: 0 auto;
    font-size: 1em;
    text-align: center;
  }
  .show-for-desktop .card-img {
    max-width: 350px;
  }

  .show-for-mobile {
    display: none;
  }
}
