@media (max-width: 450px) {
  footer ul {
    display: flex;
    flex-direction: row;
    margin-top: 25%;
  }
  footer .container ul li {
    padding: 0 2%;
    color: #fff;
  }
  .footer .container {
    max-width: 50% !important;
    margin-left: 0;
  }
  footer .container ul {
    display: flex;
    flex-direction: row;
    margin-top: 20%;
  }
}
@media (min-width: 451px) {
  .footer .container {
    max-width: 50% !important;
    margin-left: 0;
  }
  footer .container ul {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
  }
}

.footer {
  background-color: #f6406f;
  padding-top: 2rem;
  padding-bottom: 4rem;
  position: absolute;
  bottom: 0;
  min-width: 100%;
}
