@media (max-width: 450px) {
  .filter-container {
    width: 100%;
    padding: 0 7%;
    grid-column: 1 / span 3;
    display: grid;
    grid-template-rows: 1fr 1fr;
  }
  .filter-container .all-filter-link,
  .filter-container .cookie-filter-link,
  .filter-container .scone-filter-link,
  .filter-container .biscotti-filter-link {
    margin-left: 3%;
    grid-row: 1;
  }
  .preloader-wrapper {
    display: flex;
    margin: 0 auto;
    margin-top: 10%;
  }
  .featured-filter-link {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    grid-column: 2;
    width: 200%;
    margin-left: 15%;
  }
}
@media (min-width: 451px) {
  .filter-container {
    grid-column: 1 / span 3;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
  }
  .filter-container button {
    margin-left: 2%;
  }
  .filter-container .btn:focus {
    background-color: #f6406f;
    color: #fff;
  }
}
.filter-container .btn:hover {
  background-color: #f6406f !important;
  color: white;
}
