@media (max-width: 450px) {
  /* Fade background when navbar clicked */
  .fade-background {
    height: 700px;
    min-height: 100%;
    overflow: hidden;
    position: fixed !important;
    z-index: 99;
  }
  .featured-slider {
    margin: 0 auto;
    width: 100%;
  }
}

@media (min-width: 451px) {
  .featured-slider {
    padding-bottom: 10%;
    margin: 0 auto;
    width: 100%;
  }
}
