@media (max-width: 450px) {
  /* Fade background when navbar clicked */
  .fade-background {
    background: rgba(0, 0, 0, 0.2);
    height: 668px;
    max-height: 100%;
    overflow: hidden;
    position: fixed !important;
  }
  .featured-slider {
    margin: 0 auto;
    width: 100%;
  }
}

@media (min-width: 451px) {
  .featured-slider {
    padding-bottom: 30%;
    margin: 0 auto;
    width: 100%;
  }
}
