@media (max-width: 450px) {
  [alt="instagram-link"] {
    margin-top: 4.5%;
  }
  .business-info-grid img {
    height: 400px;
  }
}

@media (min-width: 451px) {
  [alt="instagram-link"] {
    margin-top: 4%;
  }
  .business-info-grid img {
    height: 600px;
  }
}

.info-content {
  text-align: center;
  padding: 10% 4%;
}
.info-content a {
  color: black;
}

[alt="phone"] {
  width: 40px;
  max-height: 40px;
  margin-left: -4%;
}
.social-icons a img {
  width: 40px;
  height: 40px;
  margin-right: 2%;
  margin-bottom: 4%;
}
