.info-content {
  text-align: center;
  padding: 10% 4%;
}
.info-content a {
  color: black;
}

[alt="phone"] {
  width: 40px;
  max-height: 40px;
  margin-left: -4%;
}

@media (max-width: 450px) {
  .social-icons a img {
    width: 40px;
    height: 40px;
    margin-right: 2%;
    margin-bottom: 4%;
  }
  [alt="instagram-link"] {
    margin-top: 4.5%;
  }
  .info-content--phone {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
  }
  .info-content--phone a {
    width: 140%;
    margin-left: -25%;
  }
  .info-content {
    font-size: 1.2em;
    overflow: hidden !important;
  }
  .info-content h3 {
    font-size: 2em;
  }
  .info-content--image-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
  }
  .info-content--left-image {
    grid-column: 1;
    height: 95px !important;
    width: 100px !important;
    position: relative;
    margin: 0 auto;
    margin-left: 10%;
    margin-top: 50%;
    margin-right: -10%;
  }

  .info-content--right-image {
    grid-column: 3;
    height: 90px !important;
    width: 110px !important;
    position: relative;
    margin: 0 auto;
    margin-top: 50%;
  }
}

[alt="profile of owners"] {
  object-fit: cover;
}
@media (min-width: 451px) {
  .social-icons a img {
    width: 80px;
    height: 80px;
    margin-right: 2%;
    margin-bottom: 4%;
  }
  [alt="instagram-link"] {
    margin-top: 4%;
  }
  .business-info-grid img {
    height: 600px;
    object-fit: cover;
  }
  .info-content {
    font-size: 2.1em;
    z-index: 3;
    line-height: 50px;
  }
  .info-content .primary-font {
    font-size: 1.8em;
    padding-bottom: 4%;
  }
  .info-content--image-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
  }
  .info-content--left-image {
    grid-column: 1;
    height: 319px !important;
    width: 479px !important;
    position: relative;
    margin: 0 auto;
    margin-left: 10%;
    margin-top: 50%;
    margin-right: -10%;
  }

  .info-content--right-image {
    grid-column: 3;
    height: 354px !important;
    width: 483px !important;
    position: relative;
    margin: 0 auto;
    margin-top: 50%;
  }
  .info-content--hours {
    margin-top: 25%;
    font-size: 1.4em;
  }
  .info-content--phone {
    margin-top: 20%;
    display: flex;
    flex-direction: column;
  }
  .phone-icon {
    font-size: 4em;
  }
  .social-icons {
    margin-top: 5%;
    font-size: 1.3em;
  }
  [alt="phone"] {
    width: 80px;
    max-height: 80px;
    margin-left: -4%;
  }
  [alt="instagram-link"] {
    margin-top: 4%;
    width: 120px;
    max-height: 120px;
  }
}
