@media (max-width: 450px) {
  .products--nav {
    margin: 10%;
  }
  .products--nav a {
    color: #000;
  }
  .item--card {
    display: grid !important;
    border: none !important;

    grid-template-columns: 1fr 1fr 1fr;
    margin: 6%;
    margin-top: 10%;
    padding: 2%;
  }
  .item--card-body {
    grid-column: 2 / span 3 !important;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .item--card--img {
    grid-column: 1;
    object-fit: contain;
  }
  .item--card-body {
    grid-column: 2;
  }
  .item--card-body p {
    padding: 2%;
  }
  .item--card-body--name {
    grid-column: 1;
    color: #000;
  }
  .item--card-body--price {
    grid-row: 2;
    grid-column: 3;
    font-weight: 900;
    font-size: 1.7em;
    position: absolute;
    right: 7%;
  }

  .item--card-body--description {
    grid-column: 1 / span 3;
    grid-row: 4;
  }
  .item--card-body--links {
    grid-row: 4;
    grid-column: 2 / span 3;
    margin-left: 10%;
  }
  .item--card-body--links button {
    background: transparent;
    color: #f6406f;
    font-weight: 600;
    padding: 7% 9%;
    width: 120%;
  }
  .item--card-body--links .add-to-cart-btn {
    grid-column: 4;
    float: right;
    width: 40%;
    font-size: 1.2em;
    right: 0;
  }
  .item--card-body--links .add-to-cart-btn button {
    color: #000;
    font-weight: 400;
    padding: 5% 1%;
  }
  .item--card-body--links .add-to-cart-btn button svg {
    color: #f6406f;
    width: 1.3em;
    height: 1.3em;
  }
}
@media (min-width: 451px) {
  .products-container {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 10%;
    padding: 2%;
  }
  .products--nav {
    grid-column: 1 / span 3;
    padding-bottom: 5%;
  }
  .products--nav a {
    color: #000;
  }
  .products--nav a:hover {
    color: #f6406f;
  }

  .item--card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 15%;
    padding: 10%;
  }
  .item--card-body {
    grid-column: 1 / span 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .show-product-btn {
    grid-column: 1 / span 3;
    grid-row: 1;
    display: flex;
    justify-content: center;
  }
  .item--card--img {
    margin-bottom: 12%;
    object-fit: contain;
  }
  .item--card-body p {
    padding: 2%;
  }
  .item--card-body--name {
    grid-column: 1 / span 2;
    text-transform: capitalize;
    font-size: 1.3em;
    color: #000;
  }
  .item--card-body--description {
    grid-column: 1 / span 3;
    text-transform: capitalize;
  }
  .item--card-body--price {
    grid-column: 3;
    font-weight: 900;
    font-size: 1.2em;
    text-align: right;
  }
  .item--card-body--links {
    grid-row: 1;
    grid-column: 3;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
  }

  .item--card-body--links .add-to-cart-btn {
    grid-column: 3;
    grid-row: 1;
    margin: 0 auto;
    margin-top: -90%;
    width: 100%;
    font-size: 1.2em;
  }
  .item--card-body--links .add-to-cart-btn button {
    grid-column: 1 / span 3;
    color: #000;
    font-weight: 400;
    padding: 5% 10%;
  }
  .item--card-body--links .add-to-cart-btn button svg {
    color: #f6406f;
    width: 1.3em;
    height: 1.3em;
  }
}
@media (min-width: 789px) {
  .products-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .products--nav {
    grid-column: 1 / span 5;
  }
  .filter-container {
    grid-column: 1 / span 5 !important;
  }
}
.item--card-body--name {
  text-transform: capitalize;
}

.products--nav a {
  text-transform: capitalize;
}
