@media (max-width: 450px) {
  .products--nav {
    margin: 20%;
    grid-column: 1;
    width: 50%;
  }
  .products--nav a {
    color: #000;
  }
  .item--card {
    display: grid !important;
    border: none !important;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 6%;
    margin-top: 10%;
    padding: 2%;
    margin-bottom: 16%;
  }
  .item--card-body {
    grid-column: 2 / span 3 !important;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .item--card--img {
    grid-column: 1;
    object-fit: contain;
    zoom: 1.1;
  }
  .item--card-body {
    grid-column: 2;
  }
  .item--card-body p {
    padding: 2%;
  }
  .item--card-body--name {
    grid-column: 1 / span 3;
    color: #000;
  }
  .item--card-body--price {
    grid-row: 3;
    grid-column: 1;
    font-weight: 900;
    font-size: 1.7em;
    position: relative;
    top: 20%;
    left: 4%;
  }

  .item--card-body--description {
    grid-column: 1 / span 3;
    grid-row: 2;
  }
  .item--card-body--add-to-cart {
    grid-column: 1 / span 3;
    grid-row: 4;
    position: relative;
    width: 110%;
  }

  .item--card-body--add-to-cart button {
    background: transparent;
    font-weight: 900;
    font-size: 1.7em;
  }

  .item--card-body--add-to-cart button svg {
    width: 1.6em;
    height: 1.6em;
    color: #f6406f;
  }
}
@media (min-width: 451px) {
  .products-container {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 10%;
    padding: 2%;
  }
  .products--nav {
    grid-column: 1 / span 3;
    padding-bottom: 5%;
    margin-top: 25%;
  }
  .products--nav a {
    color: #000;
  }
  .products--nav a:hover {
    color: #f6406f;
  }

  .item--card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 15%;
    padding: 10%;
  }
  .item--card-body {
    grid-column: 1 / span 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .item--card-body--add-to-cart {
    grid-column: 1 / span 3;
    font-size: 1.7em;
  }
  .item--card-body--add-to-cart button svg {
    color: #f6406f;
    height: 1.3em;
    width: 1.3em;
  }
  .show-product-btn {
    grid-column: 1 / span 3;
    grid-row: 1;
    display: flex;
    justify-content: center;
  }
  .item--card--img {
    margin-bottom: 12%;
    object-fit: contain;
  }
  .item--card-body p {
    padding: 2%;
  }
  .item--card-body--name {
    grid-column: 1 / span 2;
    text-transform: capitalize;
    font-size: 1.3em;
    color: #000;
  }
  .item--card-body--description {
    grid-column: 1 / span 3;
    text-transform: capitalize;
  }
  .item--card-body--price {
    grid-column: 3;
    font-weight: 900;
    font-size: 1.2em;
    text-align: right;
  }
}
@media (min-width: 789px) {
  .products-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .products--nav {
    grid-column: 1 / span 5;
  }
  .filter-container {
    grid-column: 1 / span 5 !important;
  }
}
.item--card-body--name {
  text-transform: capitalize;
}

.products--nav a {
  text-transform: capitalize;
}
