@media (max-width: 450px) {
  .login-container {
    width: 100%;
    height: 100%;
    background: #fff;
    padding-top: 20%;
  }
  .login-container .row .col {
    margin: 0;
    padding: 0 4%;
  }
}

.login-container .btn {
  background: rgb(246, 64, 111) !important;
  color: white !important;
}
#register {
  background: rgb(246, 64, 111) !important;
  color: white !important;
}
