.sidenav #login {
  position: absolute;
  top: 70%;
  width: 100%;
}
.sidenav #register {
  position: absolute;
  top: 80%;
  width: 100%;
}
.sidenav #logout {
  position: absolute;
  top: 80%;
  width: 100%;
}
.hide-on-med-and-down #login {
  position: absolute;
  top: -0.33%;
  right: -6%;
  width: 92px;
  height: 80px;
  padding-left: 0 !important;
  padding-top: 37px !important;
}
.hide-on-med-and-down #logout {
  box-shadow: none;
}

@media (max-width: 450px) {
  nav {
    position: absolute;
    z-index: 2;
  }
  .brand-logo img {
    position: relative;
    z-index: 1;
  }
  .sidenav--dropdown-trigger {
    margin-left: 10%;
  }
  .sidenav--dropdown-trigger .material-icons {
    position: relative;
    top: 7px;
  }
}
@media (min-width: 451px) {
  .sidenav-trigger {
    margin-left: -55px;
    margin-right: 2px;
  }
  .hide-on-med-and-down .auth-content--name {
    display: none;
  }
}

@media (min-width: 989px) {
  nav .nav-wrapper {
    position: absolute !important;
    min-width: 90%;
  }

  .auth-link {
    background: transparent;
    padding: 0;
  }
  #login {
    position: absolute;
    padding: 1% !important;
    padding-top: 3.5% !important;
    margin: 0 !important;
    box-shadow: none !important;
  }
  #register {
    display: none;
  }
  .sidenav-trigger {
    margin-left: 100%;
  }
  .sidenav li a,
  .sidenav--dropdown-trigger {
    font-weight: 500;
    margin-top: 2%;
  }
  .sidenav--dropdown-trigger a {
    margin-left: 0;
  }
  .sidenav-logo {
    display: none;
  }
}

nav {
  background: #f6406f !important;
  z-index: 2;
}
.brand-logo img {
  position: relative;
  z-index: 1;
}
.sidenav {
  z-index: 99999999;
  overflow: hidden;
}
.sidenav-overlay {
  z-index: 999999;
}

.auth-link {
  width: 100%;
  color: #fff;
  border-radius: 3px;
  letter-spacing: "1.5px";
  margin-top: "1rem";
  background: "#f6406f";
  background: #f6406f !important;
  color: white !important;
}
#login {
  margin-bottom: 4%;
}
.sidenav-logo {
  position: absolute;
  bottom: 45%;
  width: 100%;
  margin: 0 16%;
}
.sidenav li a,
.sidenav--dropdown-trigger {
  font-weight: 500;
  margin-top: 2%;
}
