@media (max-width: 450px) {
  /* Navigation Container */

  .left-nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 50%;
    min-height: 100%;
    background: #fff;
    font-size: 1.7em;
    overflow-y: hidden;
    animation-name: fadeInLeft;
    animation-iteration-count: 1;
    animation-duration: 1s;
    display: grid;
    grid-template-rows: 1fr 1fr;
    z-index: 99;
  }

  .left-nav .home-link {
    grid-row: 1;
    position: fixed;
    top: 0;
    left: -12%;
    text-decoration: underline;
    border: none;
  }
  .fade-in-left {
    animation-name: fadeInLeft;
    animation-iteration-count: 1;
    animation-duration: 1s;
  }
  @keyframes fadeInLeft {
    from {
      width: 1%;
    }
    to {
      width: 50%;
    }
  }

  /* Links */

  .left-nav a {
    border: 1px solid #eee;
    margin-left: 0;
    width: 50% !important;
    position: fixed;
    bottom: 14%;
    animation-name: fadeInLeft;
    animation-iteration-count: 1;
    animation-duration: 1s;
  }
  .left-nav a:last-of-type {
    position: fixed;
    bottom: 5%;
  }

  .nav-link {
    margin-left: 10%;
  }
  /* Expanded nav bar */
  .fade-background .navbar-toggler {
    top: 2%;
    left: -90%;
    z-index: 993;
  }

  .navbar-expand-sm {
    background: #f6406f !important;
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr !important;
    grid-template-rows: 1fr 1fr;
    height: 7em;
  }
  .navbar-brand img {
    position: absolute;
    z-index: 9;
    left: 29%;
    top: -14%;
  }
  .expanded-logo {
    min-height: 3rem;
  }
  .expanded-navbar-brand img {
    position: fixed;
    right: 0%;
    top: 2%;
    z-index: 99;
  }
}

.logo {
  grid-column: 2 !important;
  display: flex;
  justify-content: center;
  padding-left: 4%;
  min-height: 3rem;
}
.navbar-toggler {
  grid-column: 3 !important;
  width: 40%;
  position: absolute;
  right: 15%;
  background: #f6406f !important;
}
@media (min-width: 451px) {
  .navbar {
    background: #f6406f !important;
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr !important;
    height: 12em;
  }
  .navbar-brand img {
    height: 11em;
    width: 11em;
  }
  .left-nav {
    position: absolute;
    z-index: 99;
    top: 0;
  }
}
