@media (max-width: 550px) {
  /* Navigation Container */

  .left-nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background: #fff;
    font-size: 1.7em;
    overflow-y: scroll;
  }

  /* Links */
  .left-nav a {
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
  }
}
.navbar {
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr !important;
}
.logo {
  grid-column: 2 !important;
  display: flex;
  justify-content: center;
  padding-left: 4%;
}
.navbar-toggler {
  grid-column: 3 !important;
  width: 40%;
  position: absolute;
  right: 15%;
}
