@media (max-width: 450px) {
  /* Navigation Container */

  .left-nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background: #fff;
    font-size: 1.7em;
    overflow-y: scroll;
    animation-name: fadeInLeft;
    animation-iteration-count: 1;
    animation-duration: 1s;
  }

  @keyframes fadeInLeft {
    from {
      width: 1%;
    }
    to {
      width: 50%;
    }
  }

  /* Links */

  .left-nav a {
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-left: 0;
  }
  .nav-link {
    margin-left: 10%;
  }
}

.navbar {
  background: #ef60a1 !important;
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr !important;
}
.logo {
  grid-column: 2 !important;
  display: flex;
  justify-content: center;
  padding-left: 4%;
  min-height: 3rem;
}
.navbar-toggler {
  grid-column: 3 !important;
  width: 40%;
  position: absolute;
  right: 15%;
}
@media (min-width: 451px) {
  /* .hidden-nav {
    min-height: 300px;
    background: blue;
    position: fixed;
    top: 0;
    z-index: 9;
    width: 100%;
  } */
}
