@media (max-width: 450px) {
  .products-container {
    overflow-x: hidden !important;
  }
  .products-container--products-nav-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1% 2%;
  }
  .products-container--products-nav-container .products--nav {
    grid-column: 1;
    width: 52%;
  }
}
@media (min-width: 450px) {
  .products-container {
    margin-top: 2% !important;
  }
  .hidden-navbar-replacement {
    text-align: center;
    grid-column: 1 / span 5;
    margin-top: -10%;
    font-size: 5em;
    color: #000;
  }
}
