@media (max-width: 450px) {
  .product-show-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 40%;
  }

  .product-show--card {
    grid-column: 1 / span 3;
    min-width: 100%;
    display: grid;
    grid-template-columns: 10% 80% 10%;
  }
  .product-show--card--img {
    grid-column: 2;
    height: 12em;
    width: 12em;
    margin: 0 auto;
  }
  .product-show--card-body {
    grid-column: 2;
    font-size: 1.2em;
    display: grid;
    grid-template-columns: 20% 30% 30% 20%;
  }
  .product-show--card-body--name {
    grid-column: 1 / span 4;
    text-transform: capitalize;
    margin-top: 15%;
  }
  .product-show--card-body--price {
    grid-column: 4;
    font-size: 1.3em;
  }
  .product-show--card-body--description {
    grid-column: 1 / span 4;
  }
  .product-show--card-body--add-to-cart-btn {
    grid-column: 3 / span 4;
  }
  .product-show--card-body--add-to-cart-btn button {
    background: #f6406f;
    color: white;
    padding: 5%;
    border-radius: 2%;
    float: right;
  }
  .product-show--card-body--related-products {
    grid-column: 1 / span 4;
    grid-row: 5;
  }
  .product-show--card-body--related-products h3 {
    text-align: center;
    margin-top: 30%;
    margin-bottom: 10%;
  }
  .product-show--card-body--related-products .slick-dots li button::before {
    margin-left: -30px;
    height: 2em;
    width: 4em;
  }
}
@media (min-width: 451px) {
  .product-show-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 5% 10%;
  }
  .product-show--card {
    grid-column: 1 / span 3;
    min-width: 100%;
    display: grid;
    grid-template-columns: 10% 80% 10%;
  }
  .product-show--card--img {
    grid-column: 2;
    height: 22em;
    width: 22em;
    margin: 0 auto;
    margin-bottom: 10%;
  }
  .product-show--card-body {
    grid-column: 2;
    font-size: 1.2em;
    display: grid;
    grid-template-columns: 20% 30% 30% 20%;
  }
  .product-show--card-body--name {
    grid-column: 1 / span 4;
    grid-row: 1;
    text-transform: capitalize;
  }
  .product-show--card-body--price {
    grid-row: 1;
    grid-column: 4;
    font-size: 1.3em;
    width: 200px;
    text-align: right;
  }
  .product-show--card-body--description {
    grid-column: 1 / span 4;
  }
  .product-show--card-body--add-to-cart-btn {
    grid-column: 4;
    width: 100%;
    margin-top: 40%;
  }
  .product-show--card-body--add-to-cart-btn button {
    background: #f6406f;
    color: white;
    padding: 5%;
    border-radius: 2%;
    width: 200px;
  }
  .product-show--card-body--related-products {
    grid-column: 1 / span 3;
    grid-row: 3;
  }
  .related-product {
    display: flex;
    justify-content: center;
    text-align: center;
    text-transform: capitalize;
  }
  .product-show--card-body--related-products h3 {
    text-align: center;
    margin-top: 40%;
  }
  .product-show--card-body--related-products .slick-dots {
    margin-left: -36%;
  }
}
